################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/MagazineManager/Server/obj
/.vs
/MagazineManager/Server/bin/Debug/net6.0
/bin/Debug
/obj
/MagazineManagerTest/bin/Debug/net6.0
/MagazineManagerTest/obj
